<!DOCTYPE html>
<html>
<head><meta charset="utf-8"></head>
<body>
<h3><%= data.name %> の詳細</h3>
<p>背番号: <%= data.number %></p>
<p>ポジション: <%= data.position %></p>
<p>年齢: <%= data.age %></p>
<a href="/players">戻る</a>
</body>
</html>