<!DOCTYPE html>
<html lang="ja">
<head><meta charset="UTF-8"><title><%= data.title %></title></head>
<body>
<h1><%= data.title %> の詳細</h1>
<p>優先順位：<%= data.priority %></p>
<p>Detail：<%= data.detail %></p>

<br><br>
<a href="/todos">一覧に戻る</a>
</body>
</html>